<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.alexander.groupup">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/groupup_ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <activity
            android:name=".RegisterActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/RegisterTheme">

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name=".MainActivities.SearchActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity android:name=".MainActivities.HomeActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivities.ProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivities.NotificationActivity"
            android:screenOrientation="portrait"/>

        <activity android:name=".MainActivities.SettingsActivity"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".CreateGroup.InterviewStart"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGroup.InterviewChoosePlace"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGroup.InterviewActivitySport"
            android:screenOrientation="portrait" />

        <activity android:name=".CreateGroup.InterviewLeisure"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"/>

        <activity
            android:name=".CreateGroup.InterviewNewGroup"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGroup.InterviewMembers"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGroup.InterviewPublic"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGroup.InterviewDescription"
            android:screenOrientation="portrait" />

        <activity
            android:name=".CreateGroup.InterviewBusinessNightlife"
            android:screenOrientation="portrait" />

        <activity
            android:name=".Settings.MyAccountActivity"
            android:label="@string/my_account"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".FriendsActivity"
            android:screenOrientation="portrait"
            android:label="@string/friends_label"/>

        <activity
            android:name=".GroupActivitys.GroupView"
            android:screenOrientation="portrait" />


        <activity
            android:name=".UserProfileActivity"
            android:screenOrientation="portrait"/>

        <activity android:name="com.theartofdev.edmodo.cropper.CropImageActivity"
            android:theme="@style/Base.Theme.AppCompat"/>

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyC-n1wL3rDOPglQ3Is2RD2z4k2i_mrmX50" />
    </application>
</manifest>